<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="~/MyCustomLayout.css"/>
</head>

<body>
<div class="grid-container">
    <div class="logo">
        <div class="logo-text">
            <span class="bigT">T</span>ic
            <br>
            &emsp;
            <span class="bigT">T</span>ac
            <br>
            &emsp;
            &emsp;
            <span class="bigT">T</span>wo
            
        </div>
    </div>
    <nav class="nav">
        @{
            var userName = ViewData["UserName"] as string;
            if (!string.IsNullOrEmpty(userName)) {
                <ul class="navbar-list">
                    <li><a asp-page="/Options" asp-route-UserName="@userName">Options</a></li>
                    <li><a asp-page="/NewGame" asp-route-UserName="@userName">Make new game</a></li>
                    <li><a asp-page="/JoinRandomGame" asp-route-UserName="@userName">Join random game</a></li>
                    <li><a href="/LoadGame?UserName=@userName">Load saved game</a></li>
                    <li><a href="/Rules?UserName=@userName">Rules/Description</a></li>
                </ul>
            }
        }
    </nav>
    <div class="main-part">
        @RenderBody()
    </div>
</div>
</body>
</html>