@page
@using GameBrain
@model WebApp.Pages.ChangeGridPos

<h1 class="main-part-header">TIC-TAC-TWO</h1>

<div class="main-part-content">
    
    <div class="main-part-content-box">
        <span>Please choose a new <span id="name">center</span> spot for the grid!</span>
        <table class="game-board-table">
            @for (int y = 0; y < Model.TicTacTwoBrain.DimY; y++)
            {
                <tr >
                    @for (int x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                    {
                        <td class="@(Model.TicTacTwoBrain.GameBoard[y][x].IsPartOfGrid ? "td-partOfGrid" : "")">
                            @if (Model.TicTacTwoBrain.GameBoard[y][x].GetSpotValue() == EGamePiece.Empty)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @(Model.TicTacTwoBrain.GameBoard[y][x].Piece)
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>