@page
@using GameBrain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.Choice

<h1 class="main-part-header">TIC-TAC-TWO</h1>

<div class="main-part-content">
    
    <div class="main-part-content-box">
        <form action="" method="post">
            <div class="form-group">
                <label asp-for="UserChoice" class="control-label">Make your choice: </label>
                <select class="form-select" asp-for="UserChoice" asp-items="Model.AdvancedOptionSelectList"></select>
                <input type="submit" value="Select"/>
            </div>
        </form>
        <table class="game-board-table">
            @for (int y = 0; y < Model.TicTacTwoBrain.DimY; y++)
            {
                <tr >
                    @for (int x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                    {
                        <td class="@(Model.TicTacTwoBrain.GameBoard[y][x].IsPartOfGrid ? "td-partOfGrid" : "")">
                            @if (Model.TicTacTwoBrain.GameBoard[y][x].GetSpotValue() == EGamePiece.Empty)
                            { 
                                <span>-</span>
                            }
                            else
                            {
                                @(Model.TicTacTwoBrain.GameBoard[y][x].Piece)
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>