@page
@model WebApp.Pages.Create

@{
    ViewData["Title"] = "TIC-TAC-TWO";
}

<h1 class="main-part-header">TIC-TAC-TWO</h1>


<div class="main-part-content">
    <div class="main-part-content-authentication-box">
        <span>Please enter the username you would like to have!</span>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"class="control-label">Username:</label>
                <input asp-for="UserName" class="form-control"/>
                <button type="submit" class="btn btn-primary">Make account</button>
            </div>

        </form>
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
            <a asp-page="/Login">To login page</a>
        }
    </div>
</div>


