@page
@model WebApp.Pages.Home

@{
    Layout = "~/Pages/Shared/_CustomLayout.cshtml";
    ViewData["UserName"] = Model.Username;
}

<h1 class="main-part-header">TIC-TAC-TWO</h1>


<div class="main-part-content">
    <div class="main-part-content-authentication-box">
        <p>WELCOME TO THE HOME PAGE, <span id="focused">@Model.Username</span>! YOU CAN SELECT THINGS TO DO FROM THE LEFT MENU!</p>
    </div>
</div>