@page

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "TIC-TAC-TWO";
}

<h1 class="main-part-header">TIC-TAC-TWO</h1>


<div class="main-part-content">
    <div class="main-part-content-authentication-box">
        <span>Hello and welcome to the world-famous game TIC-TAC-TWO!</span>
        <form action="" method="post">
            <div class="form-group">
                <label asp-for="UserChoice" class="control-label">Make your choice: </label>
                <select class="form-select" asp-for="UserChoice" asp-items="Model.LoginSelectList"></select>
                <input type="submit" value="Continue"/>
            </div>
        </form>
        
    </div>
</div>

