@page
@model WebApp.Pages.Login

@{
    ViewData["Title"] = "TIC-TAC-TWO";
}

<h1 class="main-part-header">TIC-TAC-TWO</h1>


<div class="main-part-content">
    <div class="main-part-content-authentication-box">
        <span>Please enter your username!</span>

        <form method="post">
            <div class="form-group">
                <label asp-for="UserName"class="control-label">Username:</label>
                <input asp-for="UserName" class="form-control"/>
                <button type="submit" >Login</button>
                @if (!string.IsNullOrEmpty(Model.Error))
                {
                    <div class="alert alert-danger" role="alert">
                        @Model.Error
                    </div>
                }
            </div>

        </form>

       

    </div>
</div>


