@page
@model WebApp.Pages.Login

@{
    ViewData["Title"] = "TIC-TAC-TWO";
}

<h1 class="main-part-header">TIC-TAC-TWO</h1>


<div class="main-part-content">
    <div class="main-part-content-authentication-box">
        THIS IS LOGIN PAGE
    </div>
</div>


