html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    font-family: "Lucida Console", "Courier New", monospace;
}


.grid-container {

    box-shadow: 0px 0px 15px 10px rgba(169, 169, 169, 0.5);
    width: 80%;
    height: 85%;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: black;
}


.nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}


.logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    grid-column: 1/1;
    grid-row: 1/2;
    border-bottom: 0.5px solid black;
    padding-bottom: 10px;
}

.main-part {
    grid-column: 2/7;
    grid-row: 1/7;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

.bigT {
    font-size: 30px;
    font-weight: bold;
}

.main-part-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-part-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.main-part-content-authentication-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

li {
    font-size: 16px;
}

#focused {
    font-weight: bold;
}


.main-part-content-box {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 500px;
    width: 500px;
    overflow: auto;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 1rem;
    border-radius: 5px;
}


.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 5px;
    padding: 1rem;
}

button, input[type="submit"] {
    background-color: lightblue;
    border: 0.5px solid black;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

select, input[type="text"] {
    padding: 2px 5px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 250px;
}

td {
    text-align: center;
    border: 1px solid black;
}

.td-partOfGrid {
    background-color: lightcoral;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
}

td, th {
    word-wrap: break-word; /* Ensures text wraps within cells */
    overflow: hidden; /* Prevents content overflow */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.info {
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb; 
}


#conf\ table {
    width: 75%;
    border-spacing: 0px 5px;
    height: auto;
    min-height: unset;
}

tr {
    max-height: 50px;
    border: none;
    
}

.emptytr {
    
    height: 5px; 
    background-color: transparent;"
}

.form-group {
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    
}

#playButton {
    width: 25%;
}




