<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="~/MyCustomLayout.css"/>
</head>

<body>
<div class="grid-container">
    <div class="logo">
        <div class="logo-text">
            <span class="bigT">T</span>ic
            <br>
            &emsp;
            <span class="bigT">T</span>ac
            <br>
            &emsp;
            &emsp;
            <span class="bigT">T</span>wo
            
        </div>
    </div>
    <nav class="nav">
        All the links
    </nav>
    <div class="main-part">
        @RenderBody()
    </div>
</div>
</body>
</html>