@page
@model WebApp.Pages.Test.Index

@{
    ViewData["Title"] = "Test";
}

<form action="" method="post">
    <input type="text" asp-for="Name">
    <input type="submit" value="Submit">
</form>

Name is: @Model.Name + @DateTime.Now